<div>
  <h5 class="text-secondary m-3 text-center">Les autres miracles</h5>
</div>
<div>
  <div class="m-lg-5">
    <p class="mt-5">
      Les synoptiques indiquent que Jésus a fait un nombre incalculable de
      miracles :
    </p>
    <p class="fst-italic">
      « Et quand ils furent sortis de la barque, les gens le reconnaissant
      aussitôt, coururent dans toute la contrée d’alentour, et se mirent à
      amener de tous côtés sur leurs lits ceux qui étaient malades, partout où
      ils entendaient dire qu’il y était. Et en quelque lieu qu’il entrât, dans
      les bourgs, ou dans les villes, ou dans les campagnes, on mettait les
      malades sur les places publiques, et on le priait qu’ils puissent toucher
      ne fût-ce que le bord de son vêtement ; et tous ceux qui le touchaient
      étaient sauvés. »
    </p>
    <p>— Marc 6, 54-56</p>
    <p class="mt-3">Jean rapporte 7 miracles, 7 étant un chiffre parfait :</p>
    <ol>
      <li>La transformation de l'eau en vin à Cana (2, 11)</li>
      <li>La guérison du fils du fonctionnaire royal (4, 54)</li>
      <li>La guérison du paralytique de Bethsada (6, 14)</li>
      <li>La multiplication des pains (6, 14)</li>
      <li>La guérison de l'aveugle de naissance (9, 16)</li>
      <li>La résurrection de Lazare (11, 47)</li>
      <li>La résurrection de Jésus</li>
    </ol>

    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
