<div class="text-center">
    <h5 class="text-secondary m-3">Textes sacrés</h5>
    <div>
        Comment appelle-t-on le regroupement des textes sacrés ?
    </div>
    <div class="row justify-content-center m-5">
      <div class="col py-2">
        <div class="bg-dark card" (click)="select=1" [ngClass]="{ 'selected': select===1 }">
            <img src="assets/canon.png" class="card-img-top" alt="canon">
            <div class="card-body">
              <p class="card-text">
                Canon
              </p>
            </div>
          </div>
      </div>

      <div class="col py-2">
        <div class="bg-dark card" (click)="select=2" [ngClass]="{ 'selected': select===2 }">
            <img src="assets/bombe.png" class="card-img-top" alt="bombe">
            <div class="card-body">
              <p class="card-text">
                Bombe
              </p>
            </div>
          </div>
      </div>

      <div class="col py-2">
        <div class="bg-dark card" (click)="select=3" [ngClass]="{ 'selected': select===3 }">
            <img src="assets/rouleaux.png" class="card-img-top" alt="rouleaux">
            <div class="card-body">
              <p class="card-text">
                Rouleaux
              </p>
            </div>
          </div>
      </div>

      <div class="col py-2">
        <div class="bg-dark card" (click)="select=4" [ngClass]="{ 'selected': select===4 }">
            <img src="assets/chaine.png" class="card-img-top" alt="chaine">
            <div class="card-body">
              <p class="card-text">
                Chaîne
              </p>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="score === undefined">
      <div class="text-center">
        <button class="btn btn-primary rounded-pill py-2 px-5" (click)="validate()">Valider</button>
      </div>
    </div>
    <div *ngIf="score !== undefined">
      <div class="text-center">
        <img *ngIf="score > 0; else ko" width="150" src="assets/jesus-ok.gif" alt="ok">
      </div>
      <p class="m-5">
        La Bible est un ensemble de textes sacrés pour les juifs et les chrétiens.
      </p>
      <p class="m-5">
        <button class="btn btn-primary rounded-pill py-2 px-5" (click)="next.emit(score)">Suivant</button>
      </p>
    </div>
  </div>
  
  <ng-template #ko>
    <img src="assets/jesus-ko.gif" width="150" alt="ko">
  </ng-template>