<div class="text-center">
  <h5 class="text-secondary m-3">Textes sacrés</h5>
  <div>Comment appelle-t-on le regroupement des textes sacrés ?</div>

  <app-picture-list [questions]="questions" (score)="score = $event"></app-picture-list>

  <div *ngIf="score !== undefined" class="m-lg-5">
    <p class="mt-5">
      La Bible est un ensemble de textes sacrés pour les juifs et les chrétiens.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(score)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>

