<div class="text-center">
  <h5 class="text-secondary m-3">La multiplication des pains</h5>
  <div class="m-lg-5">
    <p class="mt-5 fst-italic">
      « Jésus, ayant appelé à lui ses disciples, dit : Je suis ému de compassion
      envers la foule, car voici trois jours déjà qu'ils demeurent auprès de
      moi, et ils n'ont rien à manger ; et je ne veux pas les renvoyer à jeun,
      de peur qu'ils ne défaillent en chemin. Et ses disciples lui disent : D'où
      aurions-nous dans le désert assez de pains pour rassasier une si grande
      foule? Et Jésus leur dit : Combien avez-vous de pains ? Et ils dirent :
      sept, et quelques petits poissons. Et il commanda aux foules de s'asseoir
      sur la terre. Et ayant pris les sept pains et les poissons, il rendit
      grâces et les rompit et les donna à ses disciples, et les disciples à la
      foule. Et ils mangèrent tous et furent rassasiés ; et ils ramassèrent, des
      morceaux qui étaient de reste, sept corbeilles pleines. Or ceux qui
      avaient mangé étaient quatre mille hommes, outre les femmes et les
      enfants. »
    </p>
    <p>— Matthieu, chapitre 15, versets 32 à 38</p>
    <p class="mt-3">
      Le miracle de la multiplication des pains est présent dans les 4
      évangiles. Marc dit même que Jésus le réalisa deux fois.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
