<div
  class="row vh-100 justify-content-center align-items-center"
  (click)="router.next()"
>
  <div class="col-12 col-lg-6 text-center">
    <h1 class="m-2 m-lg-4 text-primary">Caté GAME</h1>
    <img src="assets/welcome.png" class="my-5 m-lg-1" alt="welcome" />
    <h2 class="m-2 m-lg-4 text-secondary">
      Jésus est caché au fond de ton coeur, parviendra-t-il à sortir dans le
      temps imparti ?
    </h2>
    <div class="fs-6 fst-italic text-center text-mutted">
      (click sur son coeur pour le découvrir)
    </div>
  </div>
</div>
