<p class="p-5">
  <ngb-progressbar
    *ngIf="step"
    type="primary"
    [value]="(100 * step) / stepCount"
    height="10px"
  ></ngb-progressbar>
</p>

<div [ngSwitch]="step">
  <div class="text-center">
    <div *ngSwitchCase="0">
      <h5 class="text-secondary m-3">Le nouveau</h5>
      <img src="assets/jesus_capharnaum.png" />
      <p class="m-5">
        <button class="btn btn-primary rounded-pill py-2 px-5" (click)="next()">
          Commencer
        </button>
      </p>
    </div>
  </div>

  <div *ngSwitchCase="1" [@slideOutLeftOnLeave]>
    <app-nt-one (next)="next($event)"></app-nt-one>
  </div>
  <div *ngSwitchCase="2" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-two (next)="next($event)"></app-nt-two>
  </div>
  <div *ngSwitchCase="3" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-three (next)="next($event)"></app-nt-three>
  </div>
  <div *ngSwitchCase="4" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-four (next)="next($event)"></app-nt-four>
  </div>
  <div *ngSwitchCase="5" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-five (next)="next($event)"></app-nt-five>
  </div>
  <div *ngSwitchCase="6" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-six (next)="next($event)"></app-nt-six>
  </div>
  <div *ngSwitchCase="7" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-seven (next)="next($event)"></app-nt-seven>
  </div>
  <div *ngSwitchCase="8" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-height (next)="next($event)"></app-nt-height>
  </div>
  <div *ngSwitchCase="9" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-nine (next)="next($event)"></app-nt-nine>
  </div>
  <div *ngSwitchCase="10" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-ten (next)="next($event)"></app-nt-ten>
  </div>
  <div *ngSwitchCase="11" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-eleven (next)="next($event)"></app-nt-eleven>
  </div>
  <div *ngSwitchCase="12" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-twelve (next)="next($event)"></app-nt-twelve>
  </div>
  <div *ngSwitchCase="13" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-thristeen (next)="next($event)"></app-nt-thristeen>
  </div>
  <div *ngSwitchCase="14" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-fourteen (next)="next($event)"></app-nt-fourteen>
  </div>
  <div *ngSwitchCase="15" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-fiveteen (next)="next($event)"></app-nt-fiveteen>
  </div>
  <div *ngSwitchCase="16" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-sixteen (next)="next($event)"></app-nt-sixteen>
  </div>
  <div *ngSwitchCase="17" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-seventeen (next)="next($event)"></app-nt-seventeen>
  </div>
  <div *ngSwitchCase="18" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-heighteen (next)="next($event)"></app-nt-heighteen>
  </div>
  <div *ngSwitchCase="19" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-nineteen (next)="next($event)"></app-nt-nineteen>
  </div>
  <div *ngSwitchCase="20" [@slideInRightOnEnter] [@slideOutLeftOnLeave]>
    <app-nt-twenty (next)="next($event)"></app-nt-twenty>
  </div>
</div>
