<div class="text-center">
  <h5 class="text-secondary m-3">Pour résumer</h5>
</div>
<div>
  <div class="m-lg-5">
    <p class="mt-5">
      Matthieu : Homme - Son évangile commence par la généalogie de Jésus
    </p>
    <p>Marc : Lion - Le début de l’évangile évoque la voix dans le désert</p>
    <p>
      Luc : Taureau - Son évangile commence dans le temple où l’on sacrifie des
      taureaux
    </p>
    <p>Jean : Aigle - Est celui qui prend le plus de hauteur</p>
    <p class="mt-3">
      L’origine de ces attributions provient d’une vision d'Ezéchiel (ancien
      testament) et repris dans un passage de l’apocalypse :
      <span class="fst-italic"
        >« Le premier vivant est comme un lion ; le deuxième vivant est comme un
        jeune taureau ; le troisième vivant a comme un visage d’homme ; le
        quatrième vivant est comme un aigle en plein vol. »
      </span>
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
