<div class="text-center">
  <h5 class="text-secondary m-3">Les quatre évangiles</h5>
  <div></div>
  <app-crucifix word="SYNOPTIQUES" (score)="score = $event"></app-crucifix>

  <div *ngIf="score !== undefined" class="text-start m-lg-5">
    <p class="mt-5">
      Les 4 évangiles ont été écrits par 4 témoins indirects de Jésus. En fait il semble qu’il y ait plus que 4 auteurs car d’après les styles il y a plusieurs plumes derrière certains évangiles. Mais la question est très difficile d'autant qu’il faille des écrits originaux pour juger et idéalement de premières mains… En tout cas, longtemps l’église a prétendu que les 4 évangélistes avaient vécu auprès de Jésus. Maintenant il est admis que ce n’est pas le cas. Il semble que les 4 évangiles aient été rédigés en grec.
    </p>
    <p>
      Les 3 premiers évangiles se ressemblent beaucoup (même s’ils présentent des différences, voire des incohérences). Comme ils ont la même “vision”, on les appelle “Les évangiles synoptiques”.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(score)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
