<div class="text-center">
  <h5 class="text-secondary m-3">La cène</h5>
  <div class="m-lg-5">
    <p class="mt-5">
      Lors de son dernier repas qui se passe durant la fête juive de la Pâque,
      Jésus a réuni 12 apôtres :
    </p>
    <p>
      « Pendant le repas, Jésus prit du pain et, après avoir prononcé la
      bénédiction, il le rompit ; puis, le donnant aux disciples, il dit : «
      Prenez, mangez, ceci est mon corps ». Puis il prit une coupe et, après
      avoir rendu grâce, il la leur donna en disant : « Buvez-en tous, car ceci
      est mon sang, le sang de l'Alliance, versé pour la multitude, pour le
      pardon des péchés. »
    </p>
    <p>Matthieu (26, 26-28)</p>
    <p>
      Puis il annonce qu’il va être dénoncé par un traître. A ce moment-là,
      Judas quitte la pièce.
    </p>
    <p>
      Ensuite il annonce que par trois fois Pierre le reniera avant le deuxième
      chant du coq.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
