<div class="text-center">
  <h5 class="text-secondary m-3">Les apôtres</h5>
  <div>Selon la bible, combien d’apôtres Jésus appelle-t-il ?</div>
  <app-check-list
    [questions]="questions"
    (score)="score = $event"
  ></app-check-list>
  <div *ngIf="score !== undefined" class="m-lg-5">
    <p class="mt-5">
      Apôtre ou disciple ? Les deux mots sont utilisés pour désigner le gang des
      12. Apôtre signifie «envoyé».
    </p>
    <p>
      Tous les évangiles ne sont pas d’accord sur les noms. Jean est
      particulièrement peu précis et il parle d’un «disciple bien aimé»
      mystérieux que les exégètes ont longtemps pris pour Jean lui-même (sauf
      que le Jean disciple n’est pas le même que Jean Evangéliste).
    </p>
    <p>
      Le nom de l’apôtre le plus cité dans la bible c’est Pierre (ou
      Simon-Pierre) qui va devenir l’Evêque de Rome (avant de se faire
      zigouiller dans un cirque à Rome).
    </p>
    <p>Douze + Jésus =>13 à table = malheur / il y a un traître parmi nous</p>
    <p>
      En plus de 12 apôtres, Jésus a aussi désigné 70 disciples qui sont partis
      en mission annoncer la bonne nouvelle (Luc, 10).
    </p>

    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(score)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
