<div class="text-center">
  <h5 class="text-secondary m-3">Liturgie de l’eucharistie</h5>
</div>
<div>
  <div class="m-lg-5">
    <p>
      La deuxième partie de la messe célèbre le sacrifice de Jésus. Le prêtre
      rend grâce à Dieu et l’assemblée entame le Sanctus.
    </p>
    <p>
      Le prêtre invoque l'Esprit Saint et procède à la consécration du pain et
      du vin. Pour les croyants, c'est à ce moment que les offrandes deviennent
      réellement corps et sang du Christ, selon la doctrine de la
      transsubstantiation.
    </p>
    <p>
      Une nouvelle acclamation, l'anamnèse, salue la mémoire du Christ crucifié
      et ressuscité.
    </p>
    <p>
      Le prêtre laisse tomber un fragment de pain consacré dans le calice. Ce
      rite très ancien s’appelle : immixtion.
    </p>
    <p>
      Les fidèles prononcent alors le Notre Père et chantent l’Agnus puis ils
      communient.
    </p>
    <p>Ite missa est.</p>

    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Fin
      </button>
    </p>
  </div>
</div>
