<div class="text-center">
  <h5 class="text-secondary m-3">Les sous-sous</h5>
  <div>A combien est estimé le patrimoine de l’église catholique ?</div>
  <app-check-list
    [questions]="questions"
    (score)="score = $event"
  ></app-check-list>
  <div *ngIf="score !== undefined" class="m-lg-5">
    <p class="mt-5">
      « Le patrimoine de l'Eglise dans le monde est estimé à 2000 milliards
      d'euros, en prenant en compte les universités, les écoles, les hôpitaux…
      (source les Echos)
    </p>
    <p>
      L’Église catholique en France collecte environ 480 millions d’euros de
      dons et dépense 620 millions. Elle couvre le déficit grâce aux legs, à ses
      revenus financiers et immobiliers et à la vente de biens immobiliers.
    </p>
    <p>
      Les ressources du Vatican proviennent essentiellement de son patrimoine -
      il y a notamment les revenus touristiques de ses musées. Une fois par an,
      le Vatican reçoit le denier de Saint-Pierre, des ressources apportées par
      les catholiques du monde entier.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(score)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
