<div class="text-center">
  <h5 class="text-secondary m-3">Les origines du monde</h5>
  <div class="text-start m-5">
    <p>
      Les 2 premières pages de la Genèse expliquent comment Dieu créa le monde en 6 jours. Techniquement, ça ne tient pas la route une seconde, mais il reste des illuminés de part le monde qui croient que les choses se sont passées ainsi.
    </p>
    <p>
      On les appelle les “créationnistes” et ils seraient 40 millions (principalement aux Etats Unis).
    </p>
    <p>
      Ils s’opposent à la théorie de l’évolution proposée par Charles Darwin.
    </p>
    <p>
      Plus débile encore : comme la Bible ne précise pas que la terre est sphérique, les “platistes” considèrent qu’elle est plate.
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
