<div class="text-center">
  <h5 class="text-secondary m-3">Résurrection</h5>
  <div class="m-lg-5">
    <p class="mt-5">
      Puisque la nuit et le shabbat approchent, les femmes n’ont pas le temps
      d’embaumer le corps, la dépouille de Jésus est enfermée dans une tombe
      fermée par une énorme pierre. Lorsqu’elles reviendront pour finir de
      préparer le corps de Jésus à la sépulture, le tombeau sera vide.
    </p>
    <p class="m-5 text-center">
      <button
        class="btn btn-primary rounded-pill py-2 px-5"
        (click)="next.emit(0)"
      >
        Suivant
      </button>
    </p>
  </div>
</div>
