  // height: 200px;
  .letter {
    font-family: monospace;
  }

  img {
    height: 160px;
  }

.input-hidder {
  background-color: black;
  width: 5em;
  height: 5em;

  input {
    left: 4px;
    top: 4px;
    color: black;
    background-color: black;
    border-color: black;
    position: absolute;
    z-index: -1;
    width: 1em;
  }
}

.simple-keyboard {
  max-width: 850px;
}
